{% extends 'base.html.twig' %}

{% block title %}New Presence{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        h1 {
            color: #2E5D42;
            text-align: center;
        }

        a {
            color: #2E5D42;
            text-decoration: none;
            display: block;
            text-align: center;
        }

        a:hover {
            text-decoration: underline;
        }

        /* Custom styles for the form */
        form {
            max-width: 400px;
            margin: 0 auto;
            padding: 20px;
            background-color: #f5f5f5;
            border: 1px solid #ddd;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        label {
            display: block;
            margin-bottom: 8px;
            color: #555;
        }

        input,
        select,
        textarea {
            width: 100%;
            padding: 8px;
            margin-bottom: 10px;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        button {
            background-color: #2E5D42;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        button:hover {
            background-color: #22C738;
        }
    </style>
{% endblock %}

{% block body %}
    <h1>Create New Presence</h1>

    {{ include('presence/_form.html.twig') }}

    <a href="{{ path('app_presence_index') }}">Back to List</a>
{% endblock %}
