{% extends 'base.html.twig' %}

{% block title %}Edit NutritionalValueNeeds{% endblock %}

{% block body %}
    <h1>Edit NutritionalValueNeeds</h1>

    {{ include('nutrition_value_needs/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_nutrition_value_needs_index') }}">back to list</a>

    {{ include('nutrition_value_needs/_delete_form.html.twig') }}
{% endblock %}
