{% extends 'AnimalManagement.html.twig' %}

{% block title %}New AnimalBatch{% endblock %}
{% block section %}{% endblock %}
{% block ingredient %}{% endblock %}
{% block animal %}{% endblock %}
{% block newBorn %}{% endblock %}
{% block nutritionalneeds %}{% endblock %}
{% block ration %}{% endblock %}
{% block gestation %}{% endblock %}

{% block body %}
    <h1>Create new AnimalBatch</h1>

    {{ include('animal_batch/_form.html.twig') }}

    <a href="{{ path('app_animal_batch_index') }}" class="btn alazea-btn active">back to list</a>
{% endblock %}
