{% extends 'AnimalManagement.html.twig' %}

{% block title %}Edit Animal{% endblock %}
{% block section %}{% endblock %}
{% block ingredient %}{% endblock %}
{% block animalbatch %}{% endblock %}
{% block newBorn %}{% endblock %}
{% block nutritionalneeds %}{% endblock %}
{% block ration %}{% endblock %}
{% block body %}
   
<section class="contact-area">
    <div class="container">
        <div class="row align-items-center justify-content-between">
            <div class="col-12 col-lg-5">
                <!-- Section Heading -->
                <div class="section-heading text-center">
                    <h2>Modifier Animal</h2>
                </div>
                    
                <!-- Form Area -->
                <div class="contact-form-area mb-100">
                    {{ include('animal/_form.html.twig', {'button_label': 'Update'}) }}
                    {{ include('animal/_delete_form.html.twig') }}
                </div>
            </div>
            <div class="col-12 col-lg-6">
                <!-- Video Area -->
                <div class="alazea-video-area mb-100">
                    <img src="{{ asset('front/img/bg/07.jpg') }}" alt="">
                </div>
            </div>
            
        </div>
    </div>
   
    
    <a href="{{ path('app_animal_index') }}" class="btn alazea-btn active">Back to List</a>
   
   
</section>
{% endblock %}
