{% extends 'base.html.twig' %}

{% block title %}New NutritionalValue{% endblock %}
{% block section %}{% endblock %}
{% block body %}
    <h1>Create new NutritionalValue</h1>

    {{ include('nutritional_value/_form.html.twig') }}

    <a href="{{ path('app_nutritional_value_index') }}">back to list</a>
{% endblock %}
