{# templates/materiel/show_all.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}All Materials{% endblock %}

{% block body %}
    <h1>All Materials</h1>

    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            {# Add more columns as needed #}
        </tr>
        </thead>
        <tbody>
        {% for materiel in materiels %}
            <tr>
                <td>{{ materiel.id }}</td>
                <td>{{ materiel.name }}</td>
                <td>{{ materiel.description }}</td>
                {# Add more columns as needed #}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
