body {
      margin: 0;
      padding: 0;
      background-color: #F2F2F2;

  }
  
  nav.menu {
      background-color: #2E5D42;
      color: #fff;
      padding: 20px;
      text-align: center;
  }
  
  .classynav ul {
      list-style: none;
      margin: 0;
      padding: 0;
  }
  
  .classynav ul li {
      display: inline-block;
      margin-right: 20px;
  }
  
  .classynav ul li a {
      font-family: 'Playfair Display', serif;
      color: #fff;
      text-decoration: none;
      font-size: 16px;
      position: relative;
      transition: color 0.3s ease-in-out;
  }
  
  .classynav ul li a:hover {
      color: #F2F0D5; /* Hover color */
  }
  
  /* Add a subtle underline on hover */
  .classynav ul li a::after {
      content: '';
      display: block;
      height: 2px;
      width: 0;
      background-color: #F2F0D5; /* Hover color */
      position: absolute;
      bottom: 0;
      left: 0;
      transition: width 0.3s ease-in-out;
  }
  
  .classynav ul li a:hover::after {
      width: 100%;
  }
  