{% extends 'base.html.twig' %}

{% block title %}Edit NutritionalValueNeeds{% endblock %}
{% block section %}{% endblock %}
{% block body %}
    <h1>Edit NutritionalValueNeeds</h1>

    {{ include('nutritional_value_needs/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_nutritional_value_needs_index') }}">back to list</a>

    {{ include('nutritional_value_needs/_delete_form.html.twig') }}
{% endblock %}
