{% extends 'AnimalManagement.html.twig' %}

{% block title %}New NutritionalNeeds{% endblock %}
{% block section %}{% endblock %}
{% block ingredient %}{% endblock %}
{% block animal %}{% endblock %}
{% block animalbatch %}{% endblock %}
{% block newBorn %}{% endblock %}
{% block ration %}{% endblock %}
{% block gestation %}{% endblock %}

{% block body %}
    <h1>Create new NutritionalNeeds</h1>

    {{ include('nutritional_needs/_form.html.twig') }}

    <a href="{{ path('app_nutritional_needs_index') }}" class="btn alazea-btn active">back to list</a>
{% endblock %}
