{% extends 'base.html.twig' %}

{% block title %}New NutritionalNeeds{% endblock %}

{% block body %}
    <h1>Create new NutritionalNeeds</h1>

    {{ include('nutritional_needs/_form.html.twig') }}

    <a href="{{ path('app_nutritional_needs_index') }}">back to list</a>
{% endblock %}
