<form method="post" action="{{ path('app_gestation_delete', {'id': gestation.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ gestation.id) }}">
    <button class="btn alazea-btn mt-15">Delete</button>
</form>
