{% extends 'base.html.twig' %}

{% block title %}Edit Gestation{% endblock %}

{% block body %}
    <h1>Edit Gestation</h1>

    {{ include('gestation/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_gestation_index') }}">back to list</a>

    {{ include('gestation/_delete_form.html.twig') }}
{% endblock %}
