{% extends 'base.html.twig' %}

{% block title %}New Gestation{% endblock %}

{% block body %}
    <h1>Create new Gestation</h1>

    {{ include('gestation/_form.html.twig') }}

    <a href="{{ path('app_gestation_index') }}">back to list</a>
{% endblock %}
