{% extends 'AnimalManagement.html.twig' %}

{% block title %}New Newborns{% endblock %}
{% block section %}{% endblock %}
{% block ingredient %}{% endblock %}
{% block animal %}{% endblock %}
{% block nutritionalneeds %}{% endblock %}
{% block ration %}{% endblock %}
{% block gestation %}{% endblock %}

{% block body %}
    <h1>Create new Newborns</h1>

    {{ include('newborns/_form.html.twig') }}

    <a href="{{ path('app_newborns_index') }}" class="btn alazea-btn active">back to list</a>
{% endblock %}
