{{ form_start(form) }}

<div style="text-align: center; margin-top: 20px;">
    {{ form_widget(form) }}
    <button class="btn" style="background-color: #377120; color: #fff; border: none; padding: 10px 20px; border-radius: 5px; margin-top: 10px;">{{ button_label|default('Save') }}</button>
</div>

{{ form_end(form) }}
