{{ form_start(form) }}

<div style="text-align: center; margin-top: 20px;">
    {{ form_widget(form) }}
    <button class="btn1">{{ button_label|default('Save') }}</button>
</div>

{{ form_end(form) }}
